<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <rosparam command="load" file="$(find hms_client)/config/settings.yaml" />
  <node name="obstacle_2d" pkg="obstacle_2d" type="obstacle_2d" >
  </node>
  <node name="hms_client" pkg="hms_client" type="hms_client" output = "screen" launch-prefix="gnome-terminal --command">
  </node>
</launch>
