<launch>
  <include file="$(find align_gazebo)/launch/align.launch" />
  <include file="$(find hms_client)/launch/hms_launch.launch" />
  <node name="state_machine_node" pkg="state_machine" type="state_machine_node" output = "screen" launch-prefix="gnome-terminal --command" />
  <node name="p2p" pkg="align_navigation" type="p2p.py" />
  <node pkg="align_navigation" name="goal_publisher" type="goal_publisher.py" /> 
  <include file="$(find pod_localizer)/launch/goal_pub.launch" />
  <include file="$(find align_navigation)/launch/mapless_move_base.launch" />
</launch>