<launch>
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <remap from="image_rect" to="/image_raw" />
    <remap from="camera_info" to="/camera_info" />

    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="raw" />

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="36h11" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />
    <param name="camera_frame" type="str" value="camera_link" />
    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.3, frame_id: april_tag_frame_id_0},
      {id: 1, size: 0.258, frame_id: april_tag_frame_id_1},
      {id: 2, size: 0.258, frame_id: april_tag_frame_id_2},
      {id: 3, size: 0.3, frame_id: april_tag_frame_id_3},
      {id: 4, size: 0.3, frame_id: april_tag_frame_id_4},
      {id: 5, size: 0.3, frame_id: april_tag_frame_id_5}]
    </rosparam>
  </node>
</launch>
